codigo-completo.json
[{"id":"9e0afb0b.db1598","type":"file in","z":"7aaf1b1a.016644","name":"Altere para o local do seu arquivo","filename":"C:\\Users\\denis.nobre\\Downloads\\csv_curvas.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":820,"y":160,"wires":[["66fa5cf.b6673a4"]]},{"id":"66fa5cf.b6673a4","type":"csv","z":"7aaf1b1a.016644","name":"","sep":";","hdrin":"","hdrout":"","multi":"mult","ret":"\\r\\n","temp":"","skip":"0","strings":true,"x":1070,"y":160,"wires":[["fb9505f1.6780a8"]]},{"id":"fb9505f1.6780a8","type":"function","z":"7aaf1b1a.016644","name":"","func":"\n\nvar linhaDesejada = msg.linhaDesejada;\n\nvar a = msg.payload.length;\n\nvar res = {};\n\nfor(x = 1; x < a; x++){\n    \n    if(x == linhaDesejada){\n        \n        res = {\n            \n            tipo: msg.payload[x].col1,\n            curva : msg.payload[x].col2,\n            segmento : msg.payload[x].col3,\n            taxa : msg.payload[x].col4,\n            temp : msg.payload[x].col5,\n            tempo : msg.payload[x].col6\n        \n        }\n        \n    }\n    \n    \n    \n}\nmsg.payload = res;\n\nmsg.topic = linhaDesejada;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":160,"wires":[["6803745c.21f5ac","acafb318.6410a","ab4ae719.a4df68","3c654877.c3da08","ffa53ad1.161708","620fef6c.679b3","70219075.50425"]]},{"id":"7d851b28.c19994","type":"modbus-read","z":"7aaf1b1a.016644","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"102","quantity":"1","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"f7d7534b.020d3","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":210,"y":180,"wires":[["24d157b1.c80458"],[]]},{"id":"24d157b1.c80458","type":"change","z":"7aaf1b1a.016644","name":"","rules":[{"t":"set","p":"linhaDesejada","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":160,"wires":[["9e0afb0b.db1598"]]},{"id":"35072d3c.7fe2f2","type":"ui_text","z":"7aaf1b1a.016644","group":"88b611f0.30adc","order":7,"width":0,"height":0,"name":"","label":"Tipo","format":"{{msg.payload}}","layout":"row-spread","x":1630,"y":200,"wires":[]},{"id":"7fbbb785.819398","type":"ui_text","z":"7aaf1b1a.016644","group":"88b611f0.30adc","order":2,"width":0,"height":0,"name":"","label":"Curva","format":"{{msg.payload}}","layout":"row-spread","x":1630,"y":240,"wires":[]},{"id":"7392a472.e8a46c","type":"ui_text","z":"7aaf1b1a.016644","group":"88b611f0.30adc","order":3,"width":0,"height":0,"name":"","label":"Segmento","format":"{{msg.payload}}","layout":"row-spread","x":1650,"y":280,"wires":[]},{"id":"40288298.c3063c","type":"ui_text","z":"7aaf1b1a.016644","group":"88b611f0.30adc","order":4,"width":0,"height":0,"name":"","label":"Taxa","format":"{{msg.payload}}","layout":"row-spread","x":1630,"y":320,"wires":[]},{"id":"b88d83da.fdf64","type":"ui_text","z":"7aaf1b1a.016644","group":"88b611f0.30adc","order":5,"width":0,"height":0,"name":"","label":"Temperatura","format":"{{msg.payload}}","layout":"row-spread","x":1650,"y":360,"wires":[]},{"id":"6d905b82.5a38a4","type":"ui_text","z":"7aaf1b1a.016644","group":"88b611f0.30adc","order":6,"width":0,"height":0,"name":"","label":"Tempo","format":"{{msg.payload}}","layout":"row-spread","x":1630,"y":400,"wires":[]},{"id":"b7609000.fcda3","type":"ui_text","z":"7aaf1b1a.016644","group":"88b611f0.30adc","order":1,"width":0,"height":0,"name":"","label":"Codigo","format":"{{msg.topic}}","layout":"row-spread","x":1640,"y":160,"wires":[]},{"id":"6803745c.21f5ac","type":"change","z":"7aaf1b1a.016644","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":160,"wires":[["b7609000.fcda3"]]},{"id":"acafb318.6410a","type":"change","z":"7aaf1b1a.016644","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tipo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":200,"wires":[["35072d3c.7fe2f2"]]},{"id":"ab4ae719.a4df68","type":"change","z":"7aaf1b1a.016644","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.curva","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":240,"wires":[["7fbbb785.819398"]]},{"id":"3c654877.c3da08","type":"change","z":"7aaf1b1a.016644","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.segmento","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":280,"wires":[["7392a472.e8a46c"]]},{"id":"ffa53ad1.161708","type":"change","z":"7aaf1b1a.016644","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.taxa","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":320,"wires":[["40288298.c3063c"]]},{"id":"620fef6c.679b3","type":"change","z":"7aaf1b1a.016644","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":360,"wires":[["b88d83da.fdf64"]]},{"id":"70219075.50425","type":"change","z":"7aaf1b1a.016644","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tempo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":400,"wires":[["6d905b82.5a38a4"]]},{"id":"f7d7534b.020d3","type":"modbus-client","z":"","name":"M580","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.238.50","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"88b611f0.30adc","type":"ui_group","z":"","name":"Teste Modbus - CSV","tab":"d910612a.ca81e","disp":true,"width":"6","collapse":false},{"id":"d910612a.ca81e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]